<main>

    <div class="container">

        {{# each products}}
            <div class="product clearfix">
                <div class="product_img">
                    <img src="{{ imgMod this.primaryImageUrl}}" alt="">
                </div>
                <div class="product_store-info">
                    <span class="product_code">Код: {{ short this.code}}</span>
                    {{# if isActive}}
                        <span class="product_status">Наличие</span>
                    {{/if}}
                </div>

                <div class="product_text-info">
                    <p class="product_title">{{this.title}}</p>
                    <p class="product_associates">Могут понадобиться: {{this.assocProducts}}</p>
                </div>

                <div class="product_price-info">
                    <div class="product_price">
                        <span>По карте<br>клуба</span>
                        <div class="price-alt">
                            <p class="price-gold"> {{ toFix this.priceGoldAlt}}<img src="img/rouble_b.svg" width="18"
                                                                                    height="18"></p>
                            <p class="price-retail">{{ toFix this.priceRetailAlt}}<img src="img/rouble_b.svg" width="18"
                                                                                       height="18"></p>
                        </div>
                        <div class="price-pack d-none">
                            <p class="price-gold"> {{ toFix this.priceGold}} <img src="img/rouble_b.svg" width="18"
                                                                                  height="18"></p>
                            <p class="price-retail">{{ toFix this.priceRetail}}<img src="img/rouble_b.svg" width="18"
                                                                                    height="18"></p>
                        </div>
                        <p class="price-points">Можно купить за 231,75 балла</p>
                    </div>
                    <div class="product_unit clearfix">
                        <p class="unit-pack">За упаковку</p>
                        <p class="unit-alt unit-active">За {{this.unitAlt}}</p>
                    </div>
                </div>

                <div class="product_count">
                    <div class="stepper">
                        <input class="stepper-input" type="text" value="1">
                        <span class="stepper-arrow up"></span>
                        <span class="stepper-arrow down"></span>
                    </div>
                </div>

                <button class="btn-cart" data-product-id="{{this.productId}}">
                    в корзину
                </button>
            </div>
        {{/each}}
    </div>
</main>
